.payment_method_moneytigo img {
  padding-bottom: 5px !important;
}
.payment_method_moneytigopnftwo img {
  padding-bottom: 5px !important;
}
.payment_method_moneytigopnfthree img {
  padding-bottom: 5px !important;
}
.payment_method_moneytigopnffour img {
  padding-bottom: 5px !important;
}